name: Quality

on:
  pull_request:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  quality:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v5
      - run: pip install poetry
      - uses: actions/setup-python@v6
        with:
          python-version: '3.12'
      - name: Cache pre-commit environment
        uses: actions/cache@v4
        with:
          path: ~/.cache/pre-commit
          key: pre-commit-3|${{ env.pythonLocation }}|${{ hashFiles('.pre-commit-config.yaml') }}

      - run: poetry check --lock
      - run: poetry install --sync --no-interaction -vvv

      - run: make quality

  test:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v5
      - run: pip install poetry
      - uses: actions/setup-python@v6
        with:
          python-version: '3.12'
      - run: poetry install --sync --no-interaction -vvv

      - run: make test
